.benefits {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  height: 300px;
  margin-inline: auto;
  max-width: 1000px;
  padding-block: 40px;
}

.benefits__card {
  align-items: center;
  color: var(--clr-blue);
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 150px;
}

.benefits__card > span {
  color: var(--clr-coral);
  font-weight: bold;
}
