.navbar {
  background-color: var(--clr-violet);
  /* color: #d6fff6; */
  height: 50px;
  width: 100%;
}

.navbar__links {
  display: flex;
  height: 100%;
  margin-inline: auto;
  max-width: 1000px;
}
