/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Koulen&family=Montserrat:wght@400;700&display=swap");

/* CUSTOM PROPERTIES */
:root {
  --clr-blue: #2374ab;
  --clr-coral: #ff8484;
  --clr-cyan: #d6fff6;
  --clr-violet: #231651;
}

/* RESET CSS */
@import "./Reset.css";

/* MAIN STYLES */
body {
  font-family: "Montserrat", sans-serif;
}
